<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> -->
<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
<div class="card">
    <div style="padding:10px;" class="card-profile-title">
        <div style="margin-bottom:0px;" class="row">
            <div class="col s2">
                <img src="images/ava-default.jpg" alt="" class="circle responsive-img valign profile-post-uer-image">
            </div>
            <div class="col s9">
                <p style="margin:0;" class="grey-text text-darken-4 margin">Duy Artist</p>
                <small class="grey-text text-darken-1 ultra-small">Shared publicly - 26 Jun
                    2015</small>
            </div>
            <div class="col s1 right-align">
                <i class="material-icons">keyboard_arrow_down</i>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col s12"> -->
        <p>I am a very simple wall post. I am good at containing <a href="#">#small</a> bits
            of <a href="#">#information</a>. I require little more information to use
            effectively.</p>
        <!-- </div>
        </div> -->
    </div>

    <div style="padding:0 10px;" class="card-image">
        <!-- http://demo.geekslabs.com/materialize/v2.3/layout03/images/gallary/2.jpg -->
        <img src="">
        <span class="card-title">Card Title</span>
    </div>
    <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>

        <div class="">
            <div class="card grey lighten-4 z-depth-3">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="" class="fancybox"><img class="activator" src="<%=post.content.path%>" /></a>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="" class="fancybox">Full size</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i
                            class="material-icons right">close</i></span>
                    <p>description</p>
                    <p>Here is some default descriptions.</p>
                    <p>Here is some default descriptions.</p>


                </div>
            </div>
        </div>

    </div>
    <div class="card-action">
        <a href="#">This is a link</a>
    </div>
</div>
<!-- <script type="text/javascript" src="libs/jquery-3.4.0.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> -->