<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> -->
<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
<div class="card">
    <div style="padding:10px;" class="card-profile-title">
        <div style="margin-bottom:0px;" class="row">
            <div class="col s2">
                <img src="images/ava-default.jpg" alt="" class="circle responsive-img valign profile-post-uer-image">
            </div>
            <div class="col s9">
                <p style="margin:0;" class="grey-text text-darken-4 margin">Duy Artist</p>
                <small class="grey-text text-darken-1 ultra-small">Shared publicly - 26 Jun
                    2015</small>
            </div>
            <div class="col s1 right-align">
                

                <a class='dropdown-button' href='#' data-activates='dropdown1'><i class="material-icons">keyboard_arrow_down</i></a>
                <!-- <a class="dropdown-button btn" href="#" data-activates="dropdown1"><i class="mdi-action-language"></i> Public</a> -->
                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                  <li><a href="#!">one</a></li>
                  <li><a href="#!">two</a></li>
                  <li class="divider" tabindex="-1"></li>
                  <li><a href="#!">three</a></li>
                  <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
                  <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
                </ul>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col s12"> -->
        <p><%=post.description%><a href="#">#information</a></p>
        <!-- </div>
        </div> -->
    </div>

    <div style="padding:0 10px;" class="card-image">
        <!-- http://demo.geekslabs.com/materialize/v2.3/layout03/images/gallary/2.jpg -->
        <img src="">
        <!-- <span class="card-title">Card Title</span> -->
    </div>
    <div class="card-content">

        <% if(post.type == 'image') { %>
            <div><%-partial('imgCard', {img:post.content}) %></div>
        <% }else if(post.type == 'status') { %>
            <div></div>
        <% } %>

    </div>
    <div class="card-action">
        <a href="#">This is a link</a>
    </div>
</div>
<!-- <script type="text/javascript" src="libs/jquery-3.4.0.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>