<style>
    #UpdateStatus-home,
    #AddPhotos,
    #CreateAlbum {
        padding: 10px;
    }

    #UpdateStatus-home img,
    #AddPhotos img,
    #CreateAlbum img {
        margin: 30px 0;
    }

    .post-ava-col {
        padding-top: 10px !important;
        padding-bottom: 10px !important
    }

    .share-icons {
        letter-spacing: 7px
    }

    #post-form-multiple .row {
        margin-bottom: 0px;
    }

    #post-form-multiple textarea {
        margin-bottom: 0;
        padding-bottom: 10px;
    }

    #post-form-multiple #global-msg {
        margin: 0;
        padding: 10px;
        background: #0089ec;
        color: #e0e0e0;
        border-radius: 10px;
        margin-top: 4px;
    }
</style>
<div id="" class="">
    <!-- <ul class="tabs z-depth-1 light-blue" style="width: 100%;">
        <li class="tab col s3"><a class="white-text active"
                href="#UpdateStatus">
                <i class="mdi-editor-border-color"></i> Update Status</a>
        </li>
        <div class="indicator" style="right: 433px; left: 0px;"></div>
    </ul> -->
    <!-- <p id="global-msg"><%# typeof msg != 'undefined' ? msg : '' %></p> -->
    <!-- UpdateStatus-->
    <div id="UpdateStatus-home" class="col s12 grey lighten-4 z-depth-1" style="display: block;">
        <div style="margin-bottom:0px" class="row">
            <div style="" class="col s2">
                <img src="http://demo.geekslabs.com/materialize/v2.3/layout03/images/avatar.jpg" alt=""
                    class="circle responsive-img valign profile-image-post">
            </div>
            <div class="input-field col s10">
                <textarea id="textarea" row="2" class="materialize-textarea" onfocus="addShadow()" onblur="rmShadow()"></textarea>
                <label for="textarea" class="">What's on your mind?</label>
                <script>
                    function addShadow(){
                        document.getElementById('UpdateStatus-home').classList.add('z-depth-5');
                    }
                    function rmShadow(){
                        document.getElementById('UpdateStatus-home').classList.remove('z-depth-5');
                    }
                </script>
            </div>
        </div>
        <div style="margin-bottom:0px" class="row valign">
            <div class="col s12 m6 share-icons">
                <a href="#"><i class="material-icons">linked_camera</i></a>
                <!-- <a href="#"><i class="material-icons">local_offer</i></a> -->
                <a href="#"><i class="material-icons">person_pin</i></a>
                <a href="#"><i class="material-icons">loyalty</i></a>
                <a href="#"><i class="material-icons">mood</i></a>
                <a href="#"><i class="material-icons">location_on</i></a>
            </div>
            <div class="col s12 m6 right-align">
                <!-- Dropdown Trigger -->
                <!-- <a class="dropdown-button btn" href="#" data-activates="profliePost"><i
                        class="mdi-action-language"></i> Public</a>
                <ul id="profliePost" class="dropdown-content">
                    <li><a href="#!"><i class="mdi-action-language"></i> Public</a></li>
                    <li><a href="#!"><i class="mdi-action-face-unlock"></i> Friends</a></li>
                    <li><a href="#!"><i class="mdi-action-lock-outline"></i> Only Me</a></li>
                </ul> -->
                <!-- Dropdown Structure -->
                <a class="waves-effect waves-light btn"><i class="mdi-maps-rate-review left"></i>Post</a>
            </div>
        </div>
    </div>

</div>