<style>
    .profile-ava {
        height: 100px;
        width: 100px;
        border: 3px solid;
        bottom: -40px !important;
    }
</style>

<!-- sections -->
<div class="card light-blue">
    <div class="card-content white-text">
        <span class="card-title">First option</span>
        <p>I am a very simple card. I am good at containing small bits of information.</p>
    </div>
</div>
<ul id="profile-page-about-details" class="collection z-depth-1">
    <a href="#">
        <li class="collection-item">
            <div class="row">
                <div class="col s5 grey-text darken-1"><i class="mdi-action-wallet-travel"></i> Option one
                </div>
                <div class="col s7 grey-text text-darken-4 right-align">Name</div>
            </div>
        </li>
    </a>
    <li class="collection-item">
        <div class="row">
            <div class="col s5 grey-text darken-1"><i class="mdi-social-poll"></i> Option two</div>
            <div class="col s7 grey-text text-darken-4 right-align">Name</div>
        </div>
    </li>
    <li class="collection-item">
        <div class="row">
            <div class="col s5 grey-text darken-1"><i class="mdi-social-domain"></i>Option three</div>
            <div class="col s7 grey-text text-darken-4 right-align">name</div>
        </div>
    </li>
    <li class="collection-item">
        <div class="row">
            <div class="col s5 grey-text darken-1"><i class="mdi-social-cake"></i> Option four</div>
            <div class="col s7 grey-text text-darken-4 right-align">name</div>
        </div>
    </li>
</ul>

<div class="card amber darken-2">
    <div class="card-content white-text center-align">
        <p class="card-title"><i class="material-icons">supervisor_account</i> 3685</p>
        <p>Followers</p>
    </div>
</div>
<ul id="profile-page-about-feed" class="collection z-depth-1">
    <li class="collection-item avatar">
        <img src="images/ava-default.jpg" alt="" class="circle">
        <span class="title">Project Title</span>
        <p>Task assigned to new changes.
            <br> <small class="ultra-small">Second Line</small>
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">New Project</span>
        <p>First Line of Project Work
            <br> <span class="ultra-small">Second Line</span>
        </p>
        <a href="#!" class="secondary-content"><i class="mdi-social-domain"></i></a>
    </li>
    <li class="collection-item avatar">
        <i class="material-icons circle green">insert_chart</i>
        <span class="title">New Payment</span>
        <p>Last UK Project Payment
            <br> <span class="ultra-small">$ 3,684.00</span>
        </p>
        <a href="#!" class="secondary-content"><i class="mdi-editor-attach-money"></i></a>
    </li>
    <li class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Latest News</span>
        <p>company management news
            <br> <span class="ultra-small">Second Line</span>
        </p>
        <a href="#!" class="secondary-content"><i class="mdi-action-track-changes"></i></a>
    </li>
</ul>